@media (max-width: 1919px) {
  body {
    font-size: 12px;
    line-height: 14px;
  }
  .container {
    max-width: 1280px;
  }
  /*Right Side*/
  .right-side {
    /*Profile Title*/
    .profile-title, .profile-title.previous-trips {
      padding: 30px 60px 30px 0;
      font-size: 24px;
      line-height: 28px;
    }
    .profile-wrapper {
      padding-right: 40px;
    }

    /*Profile User*/
    .profile-user {
      padding-top: 30px;
      padding-bottom: 30px;
      .left-block {
        .item-1, .item-2 {
          float: none;
          margin-right: 0;
          margin-bottom: 40px;
        }
      }
    }

    /*Profile Edit*/
    .profile-edit {
      padding-top: 30px;
      padding-bottom: 30px;
      .item-profile-image {
        margin-bottom: 20px;
      }
    }

    /*Add Travelers */
    .travelers-add .add-new-traveler {
      padding-bottom: 40px;
    }
    /*Toggle Travelers*/
    .toggle-travelers {
      padding-bottom: 30px;
      .item-profile-image {
        width: 132px;
        height: 132px;
      }
    }

    /*Profile Airports*/
    .profile-airports {
      /*Profile status*/
      .profile-status {
        clear: both;
        float: right;
        padding: 25px 0 0 0;
      }
      /*Profile Passengers*/
      .profile-passengers {
        clear: none;
      }
      /*Profile Links*/
      .profile-links {
        clear: both;
        padding: 25px 0 0 0;
      }
    }

    /*Row Travelers Users Block*/
    .travelers-users-block {
      .travelers-column-title {
        padding: 40px 0;
        font-size: 21px;
        line-height: 25px;
      }
      /*Travelers User Column*/
      .travelers-user-column {
        width: 55%;
        padding-left: 45px;
        .edit-information, .delete-information {
          width: 245px;
          margin: 10px 0 0 0;
        }
        .delete-information {
          margin-bottom: 40px;
        }
      }
      /*Travelers List Column*/
      .travelers-list-column {
        width: 45%;
        li {
          margin: 0 50px 10px 0;
        }
      }
    }

    /*Item Profile Title*/
    .item-profile-title {
      font-size: 24px;
      line-height: 28px;
    }
  }
  /*Footer*/
  .footer {
    .bottom-menu {
      padding: 32px 15px 58px;
    }
  }
}
@media (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 9px;
  }
  .profile-checkbox {
    margin: 30px 0 0 25px;
  }
  /*Header*/
  .header {
    padding-top: 10px;
    line-height: normal;
    .header-left {
      z-index: 3;
    }
    .header-adaptive {
      display: block;
    }
    .header-adaptive-left {
      float: left;
    }
    .header-adaptive-right {
      float: right;
    }
    .header-phone, .header-right {
      display: none;
    }
    .header-logo, .header-arrow-icon {
      display: inline-block;
    }
    .header-logo {
      padding-left: 20px;
      img {
        width: 36px;
      }
    }
    .menu-adaptive-icon {
      padding-right: 20px;
    }
  }
  /*Left Side*/
  .left-side {
    display: none;
  }
  /*Right Side*/
  .right-side {
    margin-top: -20px;
    /*Profile Icon*/
    .profile-icon a {
      display: none;
    }
    /*Profile Title*/
    .profile-title, .profile-title.previous-trips {
      font-size: 18px;
      line-height: 21px;
      span {
        padding-top: 0;
        font-size: 12px;
        line-height: 21px;
      }
    }
    .profile-title.user {
      display: flex;
      position: relative;
      padding: 30px 10px 10px 0;
      border-bottom: 6px solid #F9F9F9;
      .profile-icon.title a {
        display: inline-block;
      }
      .title-first {
        display: block;
      }
      .title-second {
        display: none;
      }
      span {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #7B8A8F;
        font-size: 9px;
      }
    }
    .profile-wrapper {
      padding-right: 20px;
    }

    /*Profile User*/
    .profile-user {
      .left-block {
        .item-profile-title {
          display: none;
        }
      }
    }

    /*Profile Edit*/
    .profile-edit {
      .item-profile-title {
        display: none;
      }
      .item-profile-image {
        float: left;
      }
      .btn.save-changes, .btn.delete {
        font-size: 12px;
      }
    }

    /*Add Travelers */
    .travelers-add .add-new-traveler {
      padding-bottom: 30px;
    }
    /*Toggle Travelers*/
    .toggle-travelers {
      padding-bottom: 20px;
      .item-profile-image {
        width: 150px;
        height: 150px;
      }
    }

    /*Profile Airports*/
    .profile-airports {
      font-size: 12px;
      line-height: 14px;
      .profile-airport-name {
        font-size: 15px;
        line-height: 18px;
      }
      /*Profile status*/
      .profile-status span {
        font-size: 15px;
      }
    }

    /*Row Travelers Users Block*/
    .travelers-users-block {
      .travelers-column-title {
        font-size: 18px;
        line-height: 21px;
      }
      /*Travelers User Column*/
      .travelers-user-column {
        width: 50%;
        .item-title {
          font-size: 12px;
          line-height: 14px;
        }
        .item-text {
          font-size: 15px;
          margin-bottom: 5px;
        }
        .edit-information, .delete-information {
          font-size: 12px;
        }
      }
      /*Travelers List Column*/
      .travelers-list-column {
        width: 50%;
        li {
          margin: 0 30px 10px 0;
        }
      }
    }

  }
  /*Footer*/
  .footer {
    .bottom-menu {
      display: none;
    }
    .after-bottom-menu {
      display: block;
      padding: 10px 9px 30px;
      color: #686868;
      font-size: 9px;
      line-height: 11px;
    }
    .confirm-copyright {
      float: left;
    }
    .confirm-made-with {
      float: right;
    }
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 320px;
    padding: 0 8px;
  }
  .form-control {
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    background: #FBFBFB;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
  }
  .profile-checkbox {
    margin: 0 auto;
  }
  /*Right Side*/
  .right-side {
    .profile-title, .profile-title.previous-trips {
      padding: 15px 20px;
      font-size: 15px;
      line-height: 18px;
      border-bottom: 1px solid #F3F3F3;
      span {
        display: none;
      }
      .profile-title-travelers-close {
        margin-top: 0;
        font-size: 12px;
      }
    }
    /*Profile Title*/
    .profile-title.user {
      padding: 30px 20px 15px;
      .profile-icon.title, .title-first {
        display: none;
      }
      .title-second {
        display: block;
        padding-left: 25px;
        background: url("https://res.cloudinary.com/kr-soft/image/upload/v1562141122/menu_user_gkonwn.png") no-repeat left;
      }
    }
    .profile-wrapper {
      padding-right: 0;
    }
    .profile-wrapper, .profile-wrapper.trips {
      margin-bottom: 0;
    }
    .travelers-add.profile-wrapper {
      border-top: 1px solid #F3F3F3;
    }
    .profile-wrapper.trips {
      border-bottom: 2px solid #F9F9F9;
    }
    .profile-wrapper.trips:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    /*Profile User*/
    .profile-user {
      padding: 15px;
      .left-block {
        .item-profile-title {
          display: block;
          float: left;
          margin-bottom: 20px;
          font-size: 15px;
          line-height: 18px;
          span {
            padding-top: 0;
            color: #7B8A8F;
            font-size: 9px;
          }
        }
        .item-profile-image {
          display: block;
          float: right;
          width: 100px;
          height: 100px;
          margin-bottom: 20px;
        }
        .item-1, .item-2 {
          clear: both;
          margin-bottom: 30px;
          font-size: 12px;
          .item-title {
            margin-right: 20px;
          }
        }
      }
      .right-block {
        display: none;
      }
      .edit-profile {
        text-align: center;
        padding-top: 15px;
        border-top: 1px solid #F3F3F3;
        a {
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
          text-transform: uppercase;
          border-bottom: none;
        }
      }
    }

    /*Profile Edit*/
    .profile-edit {
      padding: 15px;
      .item-profile-title {
        display: block;
        font-size: 15px;
        line-height: 18px;
        span {
          padding-top: 0;
          font-size: 9px;
        }
      }
      .item-profile-image {
        float: right;
        width: 100px;
        height: 100px;
      }
      .cancel-editing a {
        font-size: 12px;
        line-height: 14px;
      }
    }

    /*Add Travelers */
    .travelers-add-pre-text {
      display: flex;
      padding: 15px;
      font-size: 15px;
      line-height: 18px;
    }
    .travelers-add {
      text-align: center;
      .add-new-traveler {
        padding: 20px 0;
        font-size: 12px;
        line-height: 14px;
        span {
          vertical-align: top;
          width: auto;
          height: 9px;
          margin-right: 10px;
          text-indent: 1px;
          background: none;
        }
      }
    }
    /*Toggle Travelers*/
    .toggle-travelers {
      padding: 15px;
      .item-profile-image {
        float: none;
        width: 132px;
        height: 132px;
        margin: 0 auto;
      }
      .block-2 {
        padding-top: 20px;
        .btn.create-traveler {
          font-size: 12px;
        }
      }
    }

    /*Profile Airports*/
    .profile-airports {
      padding: 15px 25px;
      font-size: 9px;
      line-height: 11px;
      border: none;
      .profile-first-airport .profile-airport-name:after {
        width: 110px;
        margin: 0 20px;
      }
      .profile-airport-name {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 18px;
      }
      /*Profile Passengers*/
      .profile-passengers {
        float: left;
        padding-top: 15px;
      }
      /*Profile Price*/
      .profile-price {
        float: left;
        padding-top: 15px;
        font-size: 15px;
        line-height: 18px;
      }
      /*Profile status*/
      .profile-status {
        clear: none;
        padding-top: 15px;
        line-height: 18px;
        span {
          font-size: 12px;
        }
      }
      .profile-links {
        display: none;
      }
      /*Profile Flight Details*/
      .profile-flight-details {
        clear: both;
        padding-top: 15px;
      }
    }

    /*Row Travelers Users Block*/
    .travelers-users-block {
      padding: 0 15px;
      /*Travelers Adaptive Title*/
      .travelers-adaptive-title {
        display: block;
        padding: 15px 0;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        border-bottom: 1px solid #F3F3F3;
      }
      .travelers-column-title {
        padding: 0;
        font-size: 12px;
        font-weight: normal;
        line-height: 56px;
        border-bottom: 1px solid #F3F3F3;
        img {
          display: block;
          float: right;
          margin-top: 10px;
          max-width: 36px;
          max-height: 36px;
        }
      }
      /*Travelers User Column*/
      .travelers-user-column {
        display: block;
        float: none;
        width: 100%;
        padding: 0;
        border: none;
        .travelers-user-column-wrapper {
          display: none;
          margin-top: 10px;
          border-bottom: 1px solid #F3F3F3;
        }
        .item-title {
          font-size: 9px;
          line-height: 11px;
        }
        .item-text {
          font-size: 15px;
          line-height: 24px;
        }
        .edit-information, .delete-information {
          width: 100%;
        }
        .delete-information {
          margin-bottom: 30px;
        }
      }
      /*Travelers List Column*/
      .travelers-list-column {
        float: none;
        width: 100%;
        .travelers-column-title, ul {
          display: none;
        }
        .add-new-traveler {
          text-align: center;
          width: 100%;
          padding: 20px 0;
          font-size: 12px;
          line-height: 14px;
          border-top: 1px solid #F3F3F3;
          span {
            vertical-align: top;
            width: auto;
            height: 9px;
            margin-right: 10px;
            text-indent: 1px;
            background: none;
          }
        }
      }
    }
    .toggle-travelers-close {
      margin: 0 0 10px;
      font-size: 12px;
    }
  }
  /*Footer*/
  .footer {
    .bottom-menu {
      display: none;
    }
    .after-bottom-menu {
      padding: 10px 0 30px;
    }
  }
}