@media (max-width: 1919px) {
  body {
    font-size: 12px;
    line-height: 14px;
  }
  .container {
    max-width: 1280px;
  }
  /*Right Side*/
  .right-side {
    /*Booking Title*/
    .booking-title {
      padding: 30px 40px 30px 0;
      font-size: 24px;
      line-height: 28px;
    }
    /*Booking Airports*/
    .booking-airports-wrapper {
      padding-right: 40px;
    }
    .booking-airports {
      /*Booking status*/
      .booking-status {
        clear: both;
        float: right;
        padding: 25px 0 0 0;
      }
      /*Booking Passengers*/
      .booking-passengers {
        clear: left;
      }
      /*Booking Links*/
      .booking-links {
        clear: both;
        float: left;
      }
      /*Booking Toggle*/
      .booking-toggle {
        .toggle-flight-name {
          margin-top: -43px;
          padding-bottom: 20px;
        }
        .toggle-passengers-wrapper {
          .toggle-passengers-block {
            font-size: 12px;
            line-height: 14px;
            .toggle-passengers-tickets {
              .wrapper-for-toggle-ticket {
                width: 80px;
                margin-right: 20px;
              }
              .toggle-ticket.title {
                font-size: 10px;
                line-height: 12px;
              }
            }
            .toggle-passengers-info {
              .toggle-passenger-name {
                width: 150px;
              }
              .toggle-passenger-child {
                width: 80px;
              }
              .toggle-passenger-status {
                width: 80px;
              }
            }
            /*Accordion Booking*/
            #accordion-booking-1, #accordion-booking-2, #accordion-booking-3, #accordion-booking-4 {
              .card .card-body {
                .terms-and-conditions.first,
                .terms-and-conditions.second {
                  float: none;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    /*Booking Airports Previous Trips*/
    .booking-airports.previous-trips {
      .booking-flight-details {
        clear: both;
        float: left;
      }
    }
  }
  /*Footer*/
  .footer {
    .bottom-menu {
      padding: 32px 15px 58px;
    }
  }
}
@media (max-width: 1279px) {
  .booking-checkbox {
    margin-left: 20px;
  }
  .container {
    max-width: 768px;
    padding: 0 9px;
  }
  /*Header*/
  .header {
    padding-top: 10px;
    line-height: normal;
    .header-left {
      z-index: 3;
    }
    .header-adaptive {
      display: block;
    }
    .header-adaptive-left {
      float: left;
    }
    .header-adaptive-right {
      float: right;
    }
    .header-phone, .header-right {
      display: none;
    }
    .header-logo, .header-arrow-icon {
      display: inline-block;
    }
    .header-logo {
      padding-left: 20px;
      img {
        width: 36px;
      }
    }
    .menu-adaptive-icon {
      padding-right: 20px;
    }
  }
  /*Left Side*/
  .left-side {
    display: none;
  }
  /*Right Side*/
  .right-side {
    margin-top: -20px;
    /*Booking Title*/
    .booking-title {
      padding: 25px 20px 15px 0;
      font-size: 18px;
      line-height: 21px;
      border-bottom: 6px solid rgba(0, 0, 0, 0.0333164);
      border-radius: 3px;
    }
    .booking-title.previous-trips {
      padding: 25px 20px 25px 0;
    }
    /*Booking Airports*/
    .booking-airports-wrapper {
      padding-right: 20px;
    }
    .booking-airports-wrapper:nth-child(2) {
      margin-top: 40px;
    }
    .booking-airports {
      /*Booking Price*/
      .booking-price {
        clear: both;
        float: none;
        padding-top: 25px;
      }
      /*Booking Toggle*/
      .booking-toggle {
        .toggle-passengers-wrapper .toggle-passengers-block {
          .toggle-passengers-info {
            .toggle-passenger-name {
              width: 130px;
            }
            .toggle-passenger-child {
              width: 60px;
            }
          }
          .toggle-passengers-tickets.title {
            .toggle-ticket.title {
              width: 76px;
            }
          }
          .toggle-passengers-tickets {
            .wrapper-for-toggle-ticket {
              width: 76px;
            }
          }
          .booking-checkbox {
            margin-left: 0;
          }
        }
      }
    }
  }
  /*Footer*/
  .footer {
    .bottom-menu {
      display: none;
    }
    .after-bottom-menu {
      display: block;
      padding: 10px 9px 30px;
      color: #686868;
      font-size: 9px;
      line-height: 11px;
    }
    .confirm-copyright {
      float: left;
    }
    .confirm-made-with {
      float: right;
    }
  }
}
@media (max-width: 767px) {
  .booking-checkbox {
    margin: 0 auto;
    font-size: 15px;
  }
  .container {
    max-width: 320px;
    padding: 0 8px;
  }
  .form-control {
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    background: #FBFBFB;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
  }
  /*Right Side*/
  .right-side {
    .booking-block {
      margin-bottom: 6px;
    }
    /*Booking Title*/
    .booking-title {
      padding: 25px 0 15px 0;
      font-size: 15px;
      line-height: 18px;
    }
    .booking-title.previous-trips {
      padding: 15px 25px;
    }
    /*Booking Airports*/
    .booking-airports-wrapper {
      margin-bottom: 0;
      padding-right: 0;
      border-bottom: 6px solid #f9f9f9;
    }
    .booking-airports-wrapper:nth-child(2) {
      margin-top: 0;
    }
    .booking-airports-wrapper:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
    .booking-airports {
      padding: 15px 25px;
      border: none;
      .booking-first-airport .booking-airport-name:after {
        width: 110px;
        margin: 0 20px;
      }
      .booking-airport-name {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
      }
      .booking-airport-date, .booking-airport-place {
        color: #686868;
        font-size: 9px;
        line-height: 11px;
      }
      /*Booking Price*/
      .booking-price {
        padding-top: 15px;
        font-size: 15px;
        line-height: 18px;
      }
      /*Booking Toggle*/
      .booking-toggle {
        padding-top: 15px;
        .toggle-flight-name {
          margin-top: 0;
          padding-bottom: 15px;
          font-size: 12px;
          line-height: 14px;
        }
        .toggle-passengers-wrapper .toggle-passengers-block {
          .toggle-passengers-tickets.title {
            display: none;
          }
          .toggle-passengers-info {
            overflow: hidden;
            float: none;
            width: 100%;
            padding-top: 15px;
            .toggle-passenger-name {
              width: 110px;
            }
            .toggle-passenger-child {
              width: 40px;
              font-size: 9px;
            }
            .toggle-passenger-status {
              width: 60px;
              font-size: 9px;
            }
            .booking-checkbox.adaptive {
              display: inline-block;
              margin-top: -10px;
            }
            .btn {
              width: 100%;
            }
          }
          .toggle-passengers-info.buttons {
            padding-top: 20px;
          }
          .toggle-passengers-tickets.buttons {
            padding-top: 5px;
          }
          .toggle-passengers-tickets {
            float: none;
            width: 100%;
            .toggle-ticket.title {
              display: block;
            }
            .toggle-ticket.link {
              font-size: 9px;
            }
            .wrapper-for-toggle-ticket {
              text-align: center;
              width: 65px;
            }
            .toggle-ticket {
              float: none;
            }
          }
          .booking-checkbox {
            display: none;
          }
          /*Accordion Booking*/
          #accordion-booking-1, #accordion-booking-2, #accordion-booking-3, #accordion-booking-4 {
            padding-top: 15px;
            .card {
              .card-header {
                padding: 0.5rem 0;
                background-color: #fff;
                border-top: 1px solid #EEEEEE;
                border-bottom: 1px solid #EEEEEE;
                .btn {
                  padding: 0.375rem 0;
                  font-size: 15px;
                  line-height: 18px;
                  text-transform: none;
                }
                .btn:after, .btn.collapsed:after {
                  right: 0;
                }
              }
              .card-body {
                padding: 0 0 0.75rem 0;
                background-color: #fff;
                border-bottom: 1px solid #EEEEEE;
                .disclaimer {
                  padding: 15px 0;
                }
              }
            }
          }
        }
      }
      /*Booking status*/
      .booking-status {
        float: left;
      }
      .booking-status, .booking-status span {
        padding: 15px 0 0 0;
        font-size: 9px;
        line-height: 11px;
      }
      /*Booking Passengers*/
      .booking-passengers {
        padding-top: 15px;
        font-size: 9px;
        line-height: 11px;
      }
      /*Booking Links*/
      .booking-links {
        padding-top: 20px;
        a {
          font-size: 9px;
          line-height: 11px;
        }
      }
      /*Booking Flight Details*/
      .booking-flight-details {
        padding-top: 15px;
        font-size: 10px;
        line-height: 12px;
      }
      /*Booking Buttons*/
      .booking-buttons {
        padding-top: 15px;
        font-size: 9px;
        line-height: 11px;
      }
    }
    /*Booking Airports Active*/
    .booking-airports.active {
      .booking-airport-name:after {
        display: none;
      }
      .booking-first-airport:after {
        content: '';
        display: block;
        width: 2px;
        height: 17px;
        margin: 8px 0;
        background: url("https://res.cloudinary.com/kr-soft/image/upload/v1562141115/confirm_between_line_small_qlsmp4.png") no-repeat;
      }
    }
  }
  /*Footer*/
  .footer {
    .bottom-menu {
      display: none;
    }
    .after-bottom-menu {
      padding: 10px 0 30px;
    }
  }
}